@tailwind base;
@tailwind components;

.btn{
    @apply text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900;
}


@tailwind utilities;
.text-vic{
    @apply text-yellow-800 bg-green-400;
}